# Secret Keys
PAMS/Keys.plist

# Xcode Build Products
DerivedData/
build/
*.ipa
*.xcarchive
*.dSYM
*.dSYM.zip

# Xcode User Settings & IDE State
xcuserdata/
*.xcuserdatad
.xcodeproj/xcuserdata/
.xcworkspace/xcuserdata/
*.xcuserstate
*.xcworkspacedata
*.xcbkptlist
IDEWorkspaceChecks.plist
*.xcscmblueprint
*.xccheckout
*.xctestplan
IDETemplateMacros.plist
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Swift Package Manager
.swiftpm/
.build/
Packages/
workspace-state.json

# CocoaPods
Pods/
Podfile.lock

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace/

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/

# Temporary / Cache Files
*.swp
*.lock
*.tmp
*.bak
*.orig
*.so
*.log
*.xcactivitylog
*.xcresult

# SwiftData / CoreData 
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Environment & Config Files
.env
*.xcconfig

# Other Editor Files
*.zed/
*.idea/
*.vscode/

